@media (max-width:1600px){
    .about__bottom-img{
        display: none;
    }

    .order__bottom{
        height: 600px;
    }
}

@media (max-width:1300px){
    .catalog__inner{
        padding: 0px 15px;
    }

    .video__inner {
        height: 100%;
        min-height: 400px;
        padding: 0px 20px;
    }
    .video__btn{
        margin-left: 30px;
    }

    .about__inner{
        padding: 0px 30px;
    }

    .order__title{
        font-size: 30px;
    }

    .order__items li{
        font-size: 25px;
    }

    .order__content-rigth{
        margin-top: 30px;
        margin-left: 30px;
    }

    .order__content-image{
        width: 200px;
        height: 200px;
    }

    .order__form-title{
        font-size: 30px;
    }

    .order__form{
        width: 80%;
        margin: 0 auto;
        input{
            margin-right: 10px;
        }
    }
}

@media (max-width:1175px){
    .about__box {
        margin-left: 20px;
    }
    .galary{
        img{
            max-width: 150px;
        }
    }
}

@media (max-width:1170px){
    .catalog__image{
        width: 120px;
        height: auto;
    }
    .catalog__title{
        font-size: 25px;
    }
    .catalog__item{
        max-width: 300px;
    }
}

@media (max-width:1140px){
    .galary{
        img{
            max-width: 150px;
        }
    }
}

@media (max-width:1100px){
    .top__menu li {
        margin-right: 28px;
        a{
            font-size: 18px;
        }
    }
    .header__aside {
        padding: 30px 0 30px 30px;
    }

    .header__title {
        font-size: 40px;
    }

    .header__text {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    header {
        min-height: 555px;
        margin-bottom: 50px;
    }

    .header__article-box {
        max-width: 500px;
        max-height: 200px;
        padding: 15px 5px;
    }

    .header__article-text {
        font-size: 40px;
    }

    .bottom__text {
        font-size: 20px;
        left: 12%;
    }

    .header__bside {
        padding-top: 25px;
        margin-right: 60px;
        max-width: 250px;
    }

    .header__inner{
        justify-content: space-between;
    }

    .phone__numbers .number {
        font-size: 20px;
        line-height: 25px;
        display: block;
    }

    .phone__box {
        width: 200px;
    }

    .phone-btn {
        width: 200px;
        height: 37px;
        font-size: 18px;
        line-height: 22px;
        padding: 5px 0;
        margin-top: 10px;
    }

    .price__box{
        margin-top: 28px;
        form {
            padding: 10px;
            input{
                margin-bottom: 10px;
                height: 37px;
               
            }
            button {
                height: 37px;
                font-size: 18px;
                line-height: 23px;
            }
        }
    }

    .tovoqcha {
        width: 297px;
        height: 167px;
        @include ibg;
        left: 25%;
        top: 50px;
    }

    .mevalar {
        height: 215px;
        width: 382px;
        @include ibg;
        right: 20%;
        top: 40px;
    }
    
    .about__bottom-img{
        display: none;
    }
}

@media (max-width:1070px){
    .galary{
        img{
            max-width: 140px;
            height: auto;
        }
    }
}

@media (max-width:1050px){
    .tovoqcha {
        left: 20%;
    }

    .mevalar {
        right: 20%;
    }

    .galary{
        max-width: 200px;
        img{
            max-width: 100px;
        }
    }

    .about__inner{
        align-items: center;
    }

    .about__item{
        margin-right: 15px;
    }

    .catalog__bottom-item{
        width: 250px;
    }

    .catalog__bottom-title{
        font-size: 25px;
    }

    .order__bottom-catolog-box{
        max-width: 550px;
    }
}

@media (max-width:1000px){
    .catalog__image{
        width: 100px;
        height: auto;
    }
    .catalog__title{
        font-size: 22px;
    }
    .catalog__item{
        max-width: 250px;
    }

    .video__inner {
        min-height: 330px;
    }

    .order__inner{
        padding: 0px 15px;
    }

    .order{
        height: 450px;
    }

    .order__content-left{
        max-width: 500px;
    }

    .order__content{
        padding-top: 25px;
    }
    .order__title{
        font-size: 25px;
    }

    .order__items li {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .order__form {
        width: 100%;
        margin: 0;
        height: 100px; 
        margin-top: 15px;

    }

    .order__form-title{
        font-size: 25px;
        margin-bottom: 10px;
    }

    .order__form{
        padding: 15px;
    }

    .order__form-box{
        input, button{
            height: 35px;
        }
    }

    .order__bottom-title{
        font-size: 30px;
    }

    .catalog__bottom-item {
        margin-bottom: 20px;
        margin-right: 15px;
        width: 200px;
    }

    .order__bottom-catolog-box{
        justify-content: space-around;
    }

    .adress__title{
        font-size: 30px;
    }

    .contacts__text{
        font-size: 25px;
    }
}

@media (max-width:965px){
    .about__text{
        font-size: 18px;
    }

    .galary{
        max-width: 420px;
        margin-left: 30px;
        width: 400px;
        img{
            max-width: 180px;
        }
    }
    .about__box{
        width: 400px;
    }
}

@media (max-width:930px){
    header {
        min-height: 485px;
    }

    .tovoqcha {
        left: 26%;
        top : 10px;
        width: 208px;
        height: 116px;
    }

    .mevalar {
        top : 10px;
        right: 25%;
        height: 150px;
        width: 267px;
    }

}

@media (max-width:890px){
    .galary{
        img{
            max-width: 150px;
        }
    }

}

@media (max-width:880px){
    .header__title {
        font-size: 30px;
    }

    .header__text {
        font-size: 20px;
    }

    header {
        min-height: 380px;
    }

    .header__article-box {
        max-width: 400px;
        max-height:150px;
        padding: 10px 5px;
    }

    .header__article-text {
        font-size: 30px;
    }

    .bottom__text {
        font-size: 15px;
        left: 15%;
    }

    .header__bside {
        padding-top: 15px;
        margin-right: 60px;
        max-width: 200px;
    }

    .header__bside .phone__numbers .number {
        font-size: 15px;
        line-height: 20px;
    }

    .phone__box {
        width: 150px;
    }

    .phone-btn {
        width: 150px;
        height: 27px;
        font-size: 15px;
        line-height: 18px;
        margin-top: 8px;
    }

    .price__box{
        margin-top: 20px;
        form {
            padding: 7px;
            input{
                margin-bottom: 10px;
                height: 27px;
                &::placeholder{
                    font-size: 14px;
                }
            }
            button {
                height: 27px;
                font-size: 15px;
                line-height: 18px;
            }
        }
    }

    .tovoqcha {
        width: 178px;
        height: 100px;
        left: 30%;
        top: 30px;
    }

    .mevalar {
        height: 129px;
        width: 229px;
        right: 25%;
        top: 20px;
    }
    .reviews__title{
        margin: 50px 0px;
        font-size: 30px;
    }

    .sert__item{
        display: block;
    }

    .sert__slider{
        .swiper-wrapper{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 0 auto;
            margin-bottom: 60px;
        }
    }

    .review__slider{
        margin-bottom: 100px;
        .swiper-wrapper{
            display: flex;
            justify-content: space-around;
        img{
            width: 200px;
            height: auto;
          }
        }
    }

    .reviews__inner{
        display: block;
    }

    .contacts{
        .phone__box{
            width: 290px;
        }
    }
}

@media (max-width:810px){
    .catalog__item{
        max-width: 350px;
        margin-right: 10px;
    }
}

@media (max-width:800px){
    .top__menu{
        display: none;
        width: 100%;
        position: absolute;
        top: 60px;
        padding: 0px;
        left: 0;
        li{
            display: block;
            background-color: #fff;
            border-bottom: 1px solid #000;
            padding: 2px 0px;
            margin-right: 0px;
            a{
                color: #000;
                display: block;
                text-align: center;
                font-weight: 500;
            }
            &+li{
                margin-left: 0;
            }
            &:first-child{
                border-top: 1px solid #000;
            }
        }
    }

    .menu__btn{
        display: block;
        cursor: pointer;
        div{
            height: 5px;
            width: 30px;
            margin: 5px;
            background-color: #fff;
        }
        border: 1px solid #fff;
    }

    .logo__box{
        display: block;
    }

    .menu__box{
        justify-content: space-between;
        padding: 10px 10px;
    }

    .top__menu-rigth{
        position: relative;
    }

    .order__content-image{
        width: 150px;
        height: 150px;    
    }
    .price__box-bottom form button {
        font-size: 18px;
        line-height: 20px;
    }
}

@media (max-width:770px){
    // .catalog__image{
    //     width: 100px;
    //     height: auto;
    // }
    .catalog__title{
        font-size: 22px;
    }

    .catalog__box{
        height: 100px;
    }

    .catalog__item{
        max-width: 300px;
    }
}

@media (max-width:750px){
    .tovoqcha {
        left: 25%;
    }
    
    .mevalar {
        right: 20%;
    }

    .order__form-box{
        display: block;
        input, button{
            width: 100%;
            margin: 10px auto;
            height: 40px;
        }
    }

    .order{
        height: 600px; 
    }

    .order__form {
        width: 80%;
        height: 250px;
        margin: 15px auto;
    }

    .order__form-title{
        line-height: 1.2;
    }

    .order__content-left{
        max-width: 450px;
    }

    .contacts__info{
        font-size: 15px;
    }

    .price__box form button {
        font-size: 18px;
        line-height: 20px;
    }
}

@media (max-width:730px){
    .tovoqcha {
        width: 106px;
        height: 60px;
        left: 30%;
        top: 30px;
    }

    .mevalar {
        height: 78px;
        width: 137px;
        right: 30%;
        top: 20px;
    }

    header {
        margin-bottom: 20px;
    }

    .header__article-box {
        max-width: 300px;
        max-height:140px;
        padding: 5px 5px;
        border: 3px solid #ee5a09;
        border-bottom: none;
    }

    .header__article-text {
        font-size: 20px;
    }

    .bottom__text {
        font-size: 10px;
        top : -5px;
        left: 20%;
    }

    .after__box, 
    .before__box {
        width: 50px;
        height: 3px;
        top: 2px;
    }

    .header__bside {
        padding-top: 15px;
        margin-right: 30px;
        max-width: 160px;
    }

    .header__bside .phone__numbers .number {
        font-size: 14px;
        line-height: 18px;
    }

    .phone__box {
        width: 130px;
    }

    .phone-btn {
        width: 130px;
        height: 23px;
        font-size: 13px;
        line-height: 15px;
        margin-top: 8px;
    }

    .price__box{
        margin-top: 10px;
        form {
            padding: 5px;
            input{
                margin-bottom: 8px;
                height: 23px;
                &::placeholder{
                    font-size: 12px;
                }
            }
            button {
                height: 23px;
                font-size: 14px;
                line-height: 16px;
            }
        }
    }

    .order__bottom-catolog-box {
        display: flex;
        flex-wrap: wrap;
        max-width: 300px;
        margin-top: 30px;
    }

    .contacts__box{
        display: block;
    }

    .contacts .phone__box {
        margin: 0;
        width: 90%;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .phone__numbers{
            display: flex;
            .number{
                margin-right: 10px;
                margin-bottom: 0px;
            }
        }
        .phone-btn {
            height: 30px;
            font-size: 15px;
            line-height: 18px;
            
        }
    }

    .contacts__box{
        height: 220px;
    }
}

@media (max-width:700px){
    .video__inner {
        min-height: 230px;
        .video__btn{
            width: 70px;
            height: auto;  
        } 
    }

    .order__content-rigth{
        display: none;  
    }
    .order__content-left{
        margin: 0 auto;

    }
}

@media (max-width:665px){
    // .catalog__image{
    //     width: 80px;
    //     height: auto;
    // }
    .catalog__title{
        font-size: 20px;
    }

    .catalog__box{
        height: 120px;
    }

    .catalog__item{
        max-width: 250px;
    }

    .contacts .phone__box {
        .phone__numbers{
            .number{
                margin-right: 10px;
                font-size: 18px;
            }
        }
    }
}

@media (max-width:630px){
    .galary{
        margin-left: 0px;
    }

    .sert__item{
        display: none;
    }

    .sert__slider{
        img{
            width: 300px;
            height: auto;
        }
    }

    .review__slider { 
        .swiper-wrapper{
            .swiper-slide{
                width: 100%;
                .review__img {
                    display: none;
                }
                .review__text{
                    width: 90%;
                }
            }
        }
    }
}

@media (max-width:620px){

    .contacts .phone__box .phone__numbers {
        display: block;
    }
}

@media (max-width:600px){
    .galary{
        margin-left: 0px;
    }

    .order__bottom-inner{
        display: block;
    }

    .order__bottom-catolog-box{
        max-width: 100%;
    }

    .price__box-bottom{
        width: 100%;
        margin-top: 0px;
    }

    .order__bottom{
        height: 650px;
    }

    .order__bottom{
        margin-bottom: 150px;
    }

    .contacts__box{
        top: -150px;
    }

    .order__bottom-catolog-box{
        display: none;
    }

    .order__bottom{
        height: 430px;
    }
}

@media (max-width:570px){
    .header__inner{
        display: block;
    }

    .header__title {
        font-size: 40px;
    }

    .header__text{
        font-size: 30px;
    }

    .header__article-box {
        max-width: 90%;
        max-height: 300px;
        padding: 10px 5px;
        border: 4px solid #ee5a09;
        border-bottom: none;
        margin-top: 20px;
    }

    .header__article-text {
        font-size: 30px;
    }

    .bottom__text{
        font-size: 12px;
        left: 28%;
    }

    .header__bside{
        padding-top: 15px;
        margin-right: 15px;
        max-width: 90%;  
        margin-left: 15px;
        display: flex;
        align-items: center;
        margin-top: 15px;
        justify-content: space-between;
    }

    .phone__box{
        margin: 0px 20px;
    }

    .price__box{
        margin-top: 0px;
        width: 250px;
    }

    .header__bottom-images{
        display: none;
    }

    header {
        margin-bottom: 30px;
    }

    .catalog__inner{
        justify-content: space-around;
    }

    .catalog__item{
        max-width: 90%;
    }

    // .catalog__box{
    //     height: 70px;
    // }

    .galary{
        max-width: 1500px;
        width: 150px;
        img{
            max-width: 120px;
        }
    }

    .about__item{
        width: 300px;
    }

    .video__box{
        margin-bottom: 40px;
    }

    .order__form-box{
        input, button{
           font-size: 18px;
           &::placeholder{
            font-size: 16px;
           } 
        }
    }

    .catalog__item{
        margin-bottom: 15px;
    }
}

@media (max-width:540px){
    .order__form {
        width: 95%;
        height: 280px;
        margin: 5px auto;
    }
}

@media (max-width:500px){
    .bottom__text{
        left : 20%;
    }

    .video__inner {
        min-height: 230px;
       .video__btn{
           width: 50px;
           height: auto;  
       } 
    }

    .about__item{
        width: 250px;
        margin-bottom: 20px;
    }

    .about__text{
        font-size: 15px;
    }
    
    .reviews__title{
        font-size: 25px;
    }

    .order__bottom-title{
        font-size: 25px;
        text-align: center;
    }
    .catalog__bottom-item{
        width: 200px;
    }
    
}

@media (max-width:470px){
    .order{
        height: 550px;  
    }
    
    .order__title{
        font-size: 22px;
        line-height: 1.5;
    }

    .order__items li {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .order__form-title{
        font-size: 22px;
    }
    .header__title{
        font-size: 30px;
    }

    .price__box-bottom{
        width: 100%;
    }
}

@media (max-width:450px){
    .about__item{
        width: 230px;
        margin-bottom: 15px;
    }
    
    .about__text{
        font-size: 14px;
    }

    .galary{
        img{
           max-width: 100px; 
        }
    }

    .about__inner{
        padding : 0px 15px;
    }
    .about__inner {
        align-items: flex-end;
     }

     .review__slider { 
        .swiper-wrapper{
            .swiper-slide{
                .review__text{
                    width: 95%;
                    padding: 20px 10px;
                    margin-left: 15px;
                }
            }
        }
    }
    .reviews__title{
        margin: 50px 10px;
        font-size: 20px;
    }
    .contacts .phone__box{
        width: 100%;
    }

    .contacts__box{
        padding: 10px 10px;
    }
}

@media (max-width:430px){
    .header__title{
        font-size: 25px;
    }

    .header__text{
        font-size: 18px;
    }

    .header__article-text{
        font-size: 25px;
    }

    .header__bside{
        display: block;
        margin-top: 5px;
        padding: 0px;
    }

    .phone__box{
        display: flex;
        width: 90%;
        align-items: center;
    }

    .phone-btn{
        margin-left: 10px;
        margin-top: 0px;
    }

    .price__box{
        width: 90%;
        margin: 0 auto;
        margin-top: 15px;
    }

    .after__box, .before__box {
        width: 20px;
        height: 3px;
        top: 2px;
    }

   .order{
       height: 550px;  
   } 

   .order__items li{
       font-size: 15px;
   }
}

@media (max-width:400px){
    .about__inner{
        display: block;
    }

    .galary{
        max-width: 400px;
        width: 390px;

        
        flex-wrap: wrap;
        img{
            max-width: 100px;
            width: 100px;
        }
    }

    .about__box{
        margin-top : 30px;
        margin-left: 5px;
    }

    .about__item{
        width: 80%;   
    }
}

@media (max-width:360px){
    .bottom__text {
        left : 16%;
        font-size: 11px;
    } 
    .header__article-text{
        font-size: 20px;
    }

    .phone__box{
        width: 95%;
    }

    .galary{
        max-width: 340px;
        width: 340px;
        img{
            max-width: 80px;
            width: 80px;
        }
    }

    .about__item{
        width: 70%;   
    }

    .order__title{
        font-size: 20px;
    }

    .order__form-title{
        font-size: 20px;
    }

    .price__box-bottom{
        .get__price{
            font-size: 16px;
        }
         
    }
    .order__bottom-inner{
        padding : 0px 5px;

    }

    .contacts__text{
        font-size: 18px;
    }

    .adress__title{
        font-size: 25px;
    }
    
    .contacts__info{
        font-size: 14px;
    }

    .contacts .phone__box .phone__numbers .number {
        margin-right: 10px;
        font-size: 16px;
    }

}

@media (max-width:320px){
    .bottom__text {
        left : 14%;
    } 
    .order__title,
    .order__form-title{
        font-size: 18px;
    }

    .order{
        height: 570px;
        margin-top : 30px;
    }
    
    .order__form-box{
        input, button{
           font-size: 16px;
           &::placeholder{
            font-size: 14px;
           } 
        }
    }
    
    .about {
        position: relative;
        margin-bottom: 0px;
    }
}
